$bp--b: 480px;
$bp--c: 768px;
$bp--d: 1260px;
$bp--e: 1600px;

@mixin breakpoint--a {
  @media (min-width: 0) and (max-width: #{$bp--b}) {
    @content;
  }
}

@mixin breakpoint--b {
  @media (min-width: #{$bp--b} + 1px) and (max-width: #{$bp--c} - 1px) {
    @content;
  }
}

@mixin breakpoint--c {
  @media (min-width: #{$bp--c}) and (max-width: #{$bp--d} - 1px) {
    @content;
  }
}

@mixin breakpoint--d {
  @media (min-width: #{$bp--d}) and (max-width: #{$bp--e} - 1px) {
    @content;
  }
}

@mixin breakpoint--e {
  @media (min-width: #{$bp--e}) and (max-width: 10000000px) {
    @content;
  }
}