@import 'bourbon';
@import "~susy/sass/susy";
@import 'vars';

html,body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'helvetica', 'arial';
  // queries for this
  font-size: 16px;
  line-height: 18px;
  letter-spacing: -0.0125em;
}

// .app--wrapper {
//   // height: 100vh;
//   width: 100vw;
//   position: absolute;
//   // background: red;
//   &__page {
//     position: relative;
//     top: 50px;
//     // min-height: 100vh;
//     width: 100%;
//   }
// }

// .app--wrapper .menu--wrapper {
//   z-index: 10;
//   // display: inline;
//   width: 100%;
//   position: fixed;
//   height: 50px;
//   background: yellow;
//   & ul {
//     // display: inline;
//     text-align: center;
//     & li {
//       display: inline;
//       list-style: none;
//       margin-right: 50px;
//     }
//   }
// }